<ion-header>
  <div class="bg">
    <img src="assets/navbarbg.png">
    <ion-buttons class="menu-btn" slot="start">
      <ion-menu-button class="menu-icon"></ion-menu-button>
    </ion-buttons>
    <img class="logo" src="assets/medhoplogowhite.svg">
  </div>
</ion-header>

<ion-content>
  <!-- basic services start here -->
  <h5 style="color: grey; text-align: center; margin-top: 10px;">Luis Carpio's Request</h5>
  <ion-card class="basic-services-card">
    <ion-img class="service-img" src="assets/sutureicon.png"></ion-img>
    <p class="question-1">Exposure of bone, tendons or some buried object?</p>
    <p class="answer-1">No</p>
    <p class="question-1">Continuous active bleeding?</p>
    <p class="answer-1">No</p>
    <p class="question-3">In what part of the body was the wound?</p>
    <p class="answer-3">Hand</p>
    <ion-img class="wound-img" src="assets/2454987_4114419.jpg"></ion-img>
    <p class="payment"><span>Pay:</span><span>  $250.00</span></p>
    <ion-button href="#" class="login-btn" expand="block">ON THE WAY</ion-button>
  </ion-card>
</ion-content>