<ion-content style="color: white;">
  <ion-card class="background-blue">
    <img src="assets/bglogin.png">
    <img class="logo" src="assets/medhoplogowhite.svg">

    <ion-input class="email" placeholder="EMAIL"></ion-input>
    <ion-icon class="user" ios="ios-person" md="md-person"></ion-icon>

    <ion-input class="password" placeholder="PASSWORD"></ion-input>
    <ion-icon class="lock" ios="ios-lock" md="md-lock"></ion-icon>
    <ion-button href="/order" class="login-btn">LOGIN</ion-button>
  </ion-card>
  <ion-card class="bg">
    <img src="assets/login.png">
  </ion-card>
</ion-content>